

</html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | A L T P</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
      
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom"
                style="background-color:#36373b  !important; color: white;">
               <div class="container">
                <a href="/dashboard" style="text-decoration: none; color: white; display: block;"><h1 class="text-center logo m-0">admin A L T P</h1></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="#">Create User <span class="sr-only">(current)</span></a>
                        </li>
                     
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <%= user.username %>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/settings/profile">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
               </div>
            </nav>

            <div class="container-fluid">
               
                <div class="col-md-12 pt-4 pb-4">
                    <form action="/results/member" method="post">
                        <div class="form-group ad-30" style="margin-top: 8px;">
                            <div class="input-group search-style">

                                <input type="text" name="name" id="search"
                                    class="form-control new-search-bar search-form-bar" value="">
                                <span class="input-group-btn">
                                    <button class="btn input-btn" id="search-form">Search</button>
                                </span>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="col-md-12">
                        <div>
                            <% _.forEach(data, function(val){ %>
                            <div class="category-list">
                                <div class="row" id="myDiv">
                                    <% _.forEach(val, function(val2){ %>
                                <div class="item col-md-3">
                                    <form action="#" method="post" id="add-fav"  >
                                        
                                            <a style="text-decoration: none; color: black;"
                                                class="d-flex justify-content-center pt-3"
                                                href="/memberd/<%= val2.username %>">
                                                <div class="card" style="width: 18rem;">
                                                    <img class="card-img-top" id="avatar"
                                                        src="https://chatappaltp.s3.amazonaws.com/<%= val2.userImage %>"
                                                        alt="Card image cap">
                                                    <div class="card-body ">
                                                        <h5 class="card-title ">@<%= val2.username %></h5>
                                                        <div class="d-flex ">
                                                            <a href="/detailprofile" class="btn mt-3 mr-5 ml-4"
                                                                style="background-color: #36373b; color: white;">Chi
                                                                tiết</a>
                                                            <a href="/member/<%= val2.id %>" class="btn mt-3"
                                                                style="background-color: #36373b; color: white;">Xóa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        
                                    </form>
                                </div>
                                    <% }) %>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/upload.js"></script>
  
    <!-- Menu Toggle Script -->
    <!-- <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script> -->

</body>

</html>