

</html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | A L T P</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

 
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/detailprofile.css">
    <link rel="stylesheet" href="../css/profile.css">
    

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <%- include('partials/sidebar.ejs') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <%- include('partials/navbar.ejs') %>

            <div class="container-fluid">
               
                <div class=" emp-profile">
                    <form method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card style=" box-shadow: 0 8px 6px -6px black;"">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center pt-5">
                                      <div class="image-cover ">
                                        <img src=" m/<%= user.userImage %>"  alt="au" class="img-responsive avatar mx-auto" />
                                      </div>
                                        <p class="name-auth pt-3"><%= user.fullname %></p>
                                        <p class="">@<%= user.username %></p>

                                        <a href="/settings/profile" style="text-decoration: none; color: white;" class="btn btn-v-p"><div >Profile</div></a>
                                        <div class="row w-100 mt-3">
                                            <div
                                                class="col-4 d-flex flex-column align-items-center justify-content-center div-r">
                                                <strong>125</strong>
                                                <p>Post</p>
                                            </div>
                                            <div
                                                class="col-4 d-flex flex-column align-items-center justify-content-center div-r">
                                                <strong>12</strong>
                                                <p>Follower</p>
                                            </div>
                                            <div
                                                class="col-4 d-flex flex-column align-items-center justify-content-center">
                                                <strong>25</strong>
                                                <p>Following</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="profile-head">
                                            <h5>
                                                <%= user.fullname %>
                                            </h5>
                                            <h6>
                                                @<%= user.username %>
                                            </h6>
                                            <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="/settings/profile"  class="profile-edit-btn btn-light" style="text-decoration: none; padding:10px 20px;" name="btnAddMore" >Edit Profile</a>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>User Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>@<%= user.username %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Full Name</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= user.fullname %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= user.email %></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Phone</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= user.phone%></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Address</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p><%= user.address %></p>
                                                    </div>
                                                </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </form>           
                </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/upload.js"></script>

    <!-- Menu Toggle Script -->
    <!-- <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script> -->

</body>

</html>