</html>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home | A L T P</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/friend.css">
    <link rel="stylesheet" href="../css/groupchat.css">
    <link rel="stylesheet" href="../css/profile.css">
    


</head>

<body>
    <div class="d-flex" id="wrapper">
    <%- include('../partials/sidebar.ejs') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

         <%- include('../partials/navbar.ejs') %>

            <div class="container-fluid">
                <input type="hidden" name="name-user" id="name-user" value="<%= user.username %>">
                <input type="hidden" name="name-image" id="name-image" value="<%= user.userImage %>">
                <div class="col-md-12 pt-4 pb-4">
                    <form action="/results/friend" method="post">
                        <div class="form-group ad-30" style="margin-top: 8px;">
                            <div class="input-group search-style">

                                <input type="text" name="name" id="search"
                                    class="form-control new-search-bar search-form-bar" value="" placeholder="Enter username">
                                <span class="input-group-btn">
                                    <button class="btn input-btn" id="search-form">Search</button>
                                </span>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-9">
                            <% if(chunks.length > 0){ %>
                            <% _.forEach(chunks, function(val){ %>
                            <div class="category-list">
                                <div class="row">
                                    <% _.forEach(val, function(val2){ %>
                                    <form action="#" method="post" id="add-fav" >
                                        <div class="item col-md-3">
                                            <a data-toggle="modal" data-target="#myModal<%= val2.friendName %>" style="text-decoration: none; color: black;"
                                                class="d-flex justify-content-center pt-3"
                                                href="">
                                                <div class="card" style="width: 18rem;">
                                                    <img class="card-img-top" id="avatar"
                                                        src="https://chatappaltp.s3.amazonaws.com/<%= val2.friendImg %>"
                                                        alt="Card image cap">
                                                    <div class="card-body ">
                                                        <h5 class="card-title font-weight-bold ">@<%= val2.friendName %></h5>
                                                        <div class="d-flex ">
                                                            <a data-toggle="modal" data-target="#myModal<%= val2.friendName %>" class="btn mt-3 mr-5 ml-4"
                                                                style="background-color: white; color: white;">Detail</a>
                                                                
                                                            <a data-toggle="modal" data-target="#myModal<%= val2.friendName %> class="btn mt-3"
                                                                style="background-color: white; width: 76px; color: white;">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </form>
                                    <% _.forEach(all, function(allv){ %>
                                        <% _.forEach(allv, function(allv2){ %>
                                            <% if( allv2.id == val2.friendId){ %>
                                                <div id="myModal<%= val2.friendName %>" class="modal fade" tabindex="-1"
                                                    role="dialog">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content"
                                                            style="padding: 0px !important; width: 400px;">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalCenterTitle">
                                                                    Profile</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body" style="padding: 0px !important;">
                                                                <form action="" method="post" id="add_friend">
                                                                    <input type="hidden" name="receiverName"
                                                                        id="receiverName" value="<%= allv2.username %>">
                                                                    <input type="hidden" name="sender-name"
                                                                        id="sender-name" value="<%= user.username %> ">
                                                                    <div class="">
                                                                        <div class="card" >
                                                                            <img style="height: 200px !important;"
                                                                                src="https://chatappaltp.s3.amazonaws.com/lan.jpg"
                                                                                class="card-img-header" alt="image" />
                                                                            <div
                                                                                class="card-body d-flex flex-column align-items-center justify-content-center">
                                                                                <div class="image-cover">
                                                                                    <img src="https://chatappaltp.s3.amazonaws.com/<%= allv2.userImage %>"
                                                                                        id="show_img" alt="au"
                                                                                        class="img-responsive avatar mx-auto" />
                                                                                </div>
                                                                                <p class="mt-2"
                                                                                    style="font-weight: bold; font-size: 25px;">
                                                                                    @<%= allv2.username %></p>
                                                                                <div class="row w-100 mt-3">
                                                                                    <div
                                                                                        class="col-4 d-flex flex-column align-items-center ">
                                                                                        <strong>Email</strong>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-8 d-flex flex-column align-items-center ">
                                                                                        <p><%= allv2.email %></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row w-100 mt-3">
                                                                                    <div
                                                                                        class="col-4 d-flex flex-column align-items-center ">
                                                                                        <strong>Phone</strong>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-8 d-flex flex-column align-items-center  ">
                                                                                        <p><%= allv2.phone %></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row w-100 mt-3">
                                                                                    <div
                                                                                        class="col-4 d-flex flex-column align-items-center ">
                                                                                        <strong>Gender</strong>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-8 d-flex flex-column align-items-center  ">
                                                                                        <p><%= allv2.gender %></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row w-100 mt-3">
                                                                                    <div
                                                                                        class="col-4 d-flex flex-column align-items-center ">
                                                                                        <strong>Address</strong>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-8 d-flex flex-column align-items-center  ">
                                                                                        <p><%= allv2.address %></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row w-100 mt-3">
                                                                                    <div
                                                                                        class="col-4 d-flex flex-column align-items-center ">
                                                                                        <strong>About me</strong>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-8 d-flex flex-column align-items-center  ">
                                                                                        <p><%= allv2.aboutme %></p>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="row">
                                                                       
                                                                        <div class="col-6 d-flex  align-items-center div-r pt-4 pb-4">
                                                                            <a class=" alt d-flex flex-column align-items-center" style="text-decoration: none; color: #434343; display: block; width: 100%;" id="messageLink"
                                                                            href="/chat/<%= _.lowerCase(val2.friendName) %>.<%= _.lowerCase(user.username) %>">Chat</a></div>
                                                                            <div class="col-6 d-flex  align-items-center">
                                                                                <a class=" alt d-flex flex-column align-items-center" style="text-decoration: none; color: #434343; display: block; width: 100%;" href="/friend/<%= val2.friendId %>"
                                                                                    ">Delete</a>
                                                                            </div>
                                                                    </div>
                                                                    <div id="myTest">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                        <% }) %>
                                    <% }) %>
                                    <% }) %>
                                </div>
                            </div>
                            <% }) %>
                            <% }else{ %>
                                <h3 class="d-flex justify-content-center">No friend...</h3>
                                <% } %>

                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12 chat-box" style="padding-right: 0px !important;">
                                    <div class="card-container chat-bar">
                                        <div class="card">
                                            <div class="front">
                                                <div class="content main-scroll">
                                                    <div class="main" id="main_scroll">
                                                        <p class="friends"
                                                            style="padding: 11px 0;font-size: 20px; font-weight: bold;">
                                                            Online Friends <span id="numOfFriends"></span>
                                                        </p>
                                                        <hr style="margin-top:10px" />
                                                        <% if(data.friendsList.length > 0) { %>
                                                            <% _.forEach(data.friendsList, function(value) { %>
                                                            <div class="friend" hidden>@<%= value.friendName %></div>
                                                            <% }) %>
                                                        <% } %>
                                                        <div class="onlineFriends"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/group/sendrequest.js"></script>
    <script src="/js/messagelink.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/messagelink.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/deparam.js"></script>
    <script src="/js/pm.js"></script>
    <!-- <script>
        $('#del-btn').on('click', function() {
           var id = $(this).attr('data-id');
           $.ajax({
              method: "POST",
              url: "/member/delete",
              data: {"_id": id},
              success: function(result) {
                setTimeout(function(){
                        window.location.reload();
                    }, 0);
              }
           })
        });
     </script> -->

</body>

</html>