<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile | A L T P</title>

    <!-- Bootstrap core CSS -->
     <!-- Bootstrap core CSS -->
     <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

     <!-- Custom styles for this template -->
     <link href="../css/simple-sidebar.css" rel="stylesheet">
 
 
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="../css/profile.css">
     <link rel="stylesheet" href="../css/groupchat.css">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile.css">


</head>

<body>

    <div class="d-flex" id="wrapper">

        <%- include('../partials/sidebar.ejs') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <%- include('../partials/navbar.ejs') %>

            <div class="container-fuild">
                <div class="app">
                    <div class="pt-5">
                        <div class="row pl-5">
                            <div class="col-3">
                                <div class="card style=" box-shadow: 0 8px 6px -6px black;"">
                                    <img src="https://chatappaltp.s3.amazonaws.com/lan.jpg" class="card-img-header"
                                        alt="image" />
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                        <div class="image-cover">
                                            <img src="https://chatappaltp.s3.amazonaws.com/<%= user.userImage %>"
                                                id="show_img" alt="au" class="img-responsive avatar mx-auto" />
                                        </div>
                                        <p class="name-auth pt-3"><%= user.fullname %></p>
                                        <p class="">@<%= user.username %></p>

                                        <a data-toggle="modal" data-target="#myModal" style="text-decoration: none; color: white;"
                                            class="btn btn-v-p">
                                            <div>Profile</div>
                                        </a>

                                        <div class="row w-100 mt-3">
                                            <div
                                                class="col-4 d-flex flex-column align-items-center justify-content-center div-r">
                                                <strong>125</strong>
                                                <p>Post</p>
                                            </div>
                                            <div
                                                class="col-4 d-flex flex-column align-items-center justify-content-center div-r">
                                                <strong>12</strong>
                                                <p>Follower</p>
                                            </div>
                                            <div
                                                class="col-4 d-flex flex-column align-items-center justify-content-center">
                                                <strong>25</strong>
                                                <p>Following</p>
                                            </div>
                                        </div>
                                        <div id="myModal" class="modal fade" tabindex="-1"
                                            role="dialog">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content"
                                                    style="padding: 0px !important; width: 400px;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalCenterTitle">
                                                            Profile</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="padding: 0px !important;">
                                                        <form action="" method="post" id="add_friend">
                                                        
                                                            <div class="">
                                                                <div class="card style=" box-shadow: 0 8px 6px
                                                                    -6px black;"">
                                                                    <img style="height: 200px !important;"
                                                                        src="https://chatappaltp.s3.amazonaws.com/lan.jpg"
                                                                        class="card-img-header" alt="image" />
                                                                    <div
                                                                        class="card-body d-flex flex-column align-items-center justify-content-center">
                                                                        <div class="image-cover">
                                                                            <img src="https://chatappaltp.s3.amazonaws.com/<%= user.userImage %>"
                                                                                id="show_img" alt="au"
                                                                                class="img-responsive avatar mx-auto" />
                                                                        </div>
                                                                        <p class="mt-2"
                                                                            style="font-weight: bold; font-size: 25px;">
                                                                            @<%= user.username %></p>
                                                                        <div class="row w-100 mt-3">
                                                                            <div
                                                                                class="col-4 d-flex flex-column align-items-center ">
                                                                                <strong>Email</strong>
                                                                            </div>
                                                                            <div
                                                                                class="col-8 d-flex flex-column align-items-center ">
                                                                                <p><%= user.email %></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row w-100 mt-3">
                                                                            <div
                                                                                class="col-4 d-flex flex-column align-items-center ">
                                                                                <strong>Phone</strong>
                                                                            </div>
                                                                            <div
                                                                                class="col-8 d-flex flex-column align-items-center  ">
                                                                                <p><%= user.phone %></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row w-100 mt-3">
                                                                            <div
                                                                                class="col-4 d-flex flex-column align-items-center ">
                                                                                <strong>Gender</strong>
                                                                            </div>
                                                                            <div
                                                                                class="col-8 d-flex flex-column align-items-center  ">
                                                                                <p><%= user.gender %></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row w-100 mt-3">
                                                                            <div
                                                                                class="col-4 d-flex flex-column align-items-center ">
                                                                                <strong>Address</strong>
                                                                            </div>
                                                                            <div
                                                                                class="col-8 d-flex flex-column align-items-center  ">
                                                                                <p><%= user.address %></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row w-100 mt-3">
                                                                            <div
                                                                                class="col-4 d-flex flex-column align-items-center ">
                                                                                <strong>About me</strong>
                                                                            </div>
                                                                            <div
                                                                                class="col-8 d-flex flex-column align-items-center  ">
                                                                                <p><%= user.aboutme %></p>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <button type="submit" id="friend-add"
                                                                class="btnn add pt-3 pb-3"><i
                                                                    class="fa fa-user"></i> Add Friend</button> -->
                                                            <div id="myTest">
                                                            </div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-9 pr-5 pb-5 pr-5">
                                <div class="card" style=" box-shadow: 0 8px 6px -6px black;">
                                    <div class="d-flex flex-row">
                                        <div class="sub-info-select">Profile</div>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span id="error" class="text-center mt-3"></span>
                                        
                                        <div class="d-flex flex-row">
                                            <input type="text" name="fullname" id="fullname" class="form-control m-3"
                                                placeholder="Full Name" />
                                        </div>
                                        <div class="d-flex flex-row">
                                            <input type="text" id="address" name="address" class="form-control m-3"
                                                placeholder="Address" />
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="pl-4 form-check form-check-inline">
                                                <label class="form-check-label"
                                                    style=" color:#868f97 !important; font-size: large;" for="">Gender:
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" value="Male"
                                                    id="gender">
                                                <label class="form-check-label" for="">Male</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender"
                                                    value="Female" id="gender">
                                                <label class="form-check-label" for=" ">Female</label>
                                            </div>
                                        </div>
                                        <div class="m-3">
                                            <label style="color:#868f97 !important; font-size: large"
                                                class=" pl-2">About Me</label><br>
                                            <textarea name="aboutme" id="aboutme" class="form-control input-lg" rows="5"
                                                placeholder="Something..."></textarea>
                                        </div>
                                        <div class="m-3">
                                            <label style=color:#868f97 !important">Add Profile Photo</label><br>
                                            <input type="hidden" id="user-image" value="">
                                            <button class="btn btn-lg add-btn"
                                                style="background-color:#8EEFE9 !important; color:white"
                                                type="button">Add Avatar</button>
                                            <input type="file" class="form-control" name="upload" id="add-input"
                                                style="display: none">
                                            <span id="completed" class="t-s"></span>
                                        </div>
                                        <div class="d-flex m-3">
                                            <div class="ml-auto">
                                                <input type="submit" id="profile" value="Save Profile"
                                                    class="btn btn-lg btn-default btn-block save-profile-btn"
                                                    name="submit"
                                                    style="background-color:#8EEFE9  !important; color:white !important">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Bootstrap core JavaScript -->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/user/profile.js"></script>
        <script src="/js/upload.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/group/sendrequest.js"></script>
        <script src="/js/home.js"></script>
        <script src="/js/global.js"></script>

</body>

</html>